#background div.bg {
  background: url('../image/bg/emile-perron-xrVDYZRGdw4-unsplash.jpg') center center #000000;
  background-size: cover;
  background-attachment: fixed;
  height: inherit;
  filter: brightness(0.825);
}