#cover {
  background: #e7e7e7;
  z-index: 9999999;
  position: fixed;
  top: 0%;
  left: -25%;
  width: 150%;
  height: 100%;
  transform-origin: left;
}

@media (max-width: 1024px) {
  #cover {
    width: 280%;
    left: -32%;
  }
}

@media (max-width: 712px) {
  #cover {
    left: -55%;
  }
}

#cover.cover-left {
  animation: coverleft 1850ms both cubic-bezier(0.77, 0, 0.175, 1);
}

#cover.cover-right {
  animation: coverright 2000ms both cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes coverleft {
  0% {
    transform: scaleX(1) skewX(30deg);
    transform-origin: left;
  }

  100% {
    transform: scaleX(0) skewX(30deg);
    transform-origin: left;
  }
}

@keyframes coverright {
  0% {
    transform: scaleX(0) skewX(20deg);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewX(20deg);
    transform-origin: left;
  }
}