@media (prefers-reduced-motion: no-preference) {
  .main_bg {
    animation: main_bg_hue infinite 15s linear;
  }
}

@keyframes main_bg_hue {
  from {
    filter: hue-rotate(0deg) blur(96px);
  }

  to {
    filter: hue-rotate(360deg) blur(108px);
  }
}