#stack
{
  background-size:cover;
}
/* #stack > div > div.flex.flex-wrap.justify-center.gap-10>div
{
    
} */

/* #stack #languege
{
    rotate: -30;
}
#stack #Front-end
{
    rotate: -10;
}
#stack #Back-end
{
    rotate: 10;
}
#stack #DevOps
{
    rotate: 30;
} */
